# SPDX-License-Identifier: GPL-2.0-or-later

if MACH_REALTEK_RTL

config REALTEK_RTL_CHIPID
	bool "Realtek switch SoC chip ID"
	default MACH_REALTEK_RTL
	select MFD_SYSCON
	select REGMAP
	select SOC_BUS
	help
	  Support Realtek switch SoC identification

endif
