// SPDX-License-Identifier: GPL-2.0-or-later OR BSD-2-Clause

/dts-v1/;

#include <dt-bindings/leds/common.h>

#include "rtl83xx.dtsi"
#include "rtl839x.dtsi"
#include "rtl8392.dtsi"

/ {
	model = "Edgecore ECS4100-12PH";
	compatible = "edgecore,ecs4100-12ph", "realtek,rtl8392-soc";

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "earlycon console=ttyS0,115200";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};
};

&switch_bus {
	ext_io: ext-io@e4 {
		compatible = "realtek,rtl8390-eio", "syscon";
		reg = <0xe4 0x17c>;

		led_sys: sys-led {
			active-low;
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
			linux,default-trigger = "default-on";
		};
	};
};

&uart0 {
	status = "okay";
};

&spi {
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		spi-max-frequency = <10000000>;
		reg = <0>;
		m25p,fast-read;
		broken-flash-reset;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			uboot: partition@0 {
				label = "uboot";
				reg = <0x0 0x100000>;
				read-only;
			};

			env: partition@100000 {
				label = "env";
				reg = <0x100000 0x80000>;
				read-only;
			};

			hwinfo: partition@180000 {
				label = "hwinfo";
				reg = <0x180000 0x8000>;
				read-only;
			};

			runtime: partition@200000 {
				label = "runtime";
				reg = <0x200000 0x500000>;
			};

			runtime2: partition@500000 {
				label = "runtime2";
				reg = <0x500000 0x2000000>;
			};
		};
	};
};
