// SPDX-License-Identifier: GPL-2.0-or-later OR BSD-2-Clause

&ethernet0 {
	mdio-bus {
		compatible = "realtek,rtl83xx-mdio";
		regmap = <&ethernet0>;
		#address-cells = <1>;
		#size-cells = <0>;

		phy0: ethernet-phy@0 {
			reg = <0>;
			compatible = "ethernet-phy-ieee802.3-c22";
		};
		phy1: ethernet-phy@1 {
			reg = <1>;
			compatible = "ethernet-phy-ieee802.3-c22";
		};
		phy2: ethernet-phy@2 {
			reg = <2>;
			compatible = "ethernet-phy-ieee802.3-c22";
		};
		phy3: ethernet-phy@3 {
			reg = <3>;
			compatible = "ethernet-phy-ieee802.3-c22";
		};
		phy4: ethernet-phy@4 {
			reg = <4>;
			compatible = "ethernet-phy-ieee802.3-c22";
		};
		phy5: ethernet-phy@5 {
			reg = <5>;
			compatible = "ethernet-phy-ieee802.3-c22";
		};
		phy6: ethernet-phy@6 {
			reg = <6>;
			compatible = "ethernet-phy-ieee802.3-c22";
		};
		phy7: ethernet-phy@7 {
			reg = <7>;
			compatible = "ethernet-phy-ieee802.3-c22";
		};
	};
};
